a{
    text-decoration: none;
    background-color: white;
    color: #003A21;
    padding: 5px;
    border-radius: 3px 3px;
    transition: .2s;
    font-weight: bold;
}
body,html {
  margin:0 auto;
  padding:0;
}
h1, h2, h3 {
    font-family: 'Days One', sans-serif;
}
p{ 
    font-size: 20px;
}
* {
    box-sizing: border-box;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding: 1%;
    font-family: 'Saira', sans-serif;
}
button{
    border-radius: 30px;
    border: solid black 1px;
    background-color: #003A21;
    color:white;
    font-size: 20px;
    margin-bottom: 10px;
}
button:hover {
    background-color: white;
    color: #003A21;
}
@media only screen and (min-width: 640px) {
    .top, #work {
        background-color: #4CE0D2;
    }
    .eagles, .title{
        display: flex;
    }
    .name, .title{
        padding: 0px;
        margin:0px;
    }
    .logo {
        display: inline-block;
        width: 20%;
        border-radius: 30px;
        vertical-align: middle;
    }
}
.eaglesLogo{
    width:200px;
    height:66px;
}
.top, #work {
    background-color: #4CE0D2;
}
.logo {
    border-radius: 30px;
    width: 200px;
    height: 200px;
}
#about, #contactMe{
    background-color: #003A21;
    color:white;
}